.dropdown {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 200px;
}

.dropdown .dropdown-btn {
  align-items: center;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  padding-left: 10px;
  user-select: none;
  width: 185px;
}

.dropdown-arrow {
  height: 11px;
}

.margin {
  margin-top: 3px;
  margin-right: 12px;
}

.dropdown .dropdown-content {
  box-shadow: 0 2px 2px 0 #dad8d8;
  background-color: #fff;
  padding: 6px 0;
  position: absolute;
  top: 110%;
  z-index: 10;
}

.dropdown .dropdown-content .dropdown-item {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  height: 40px;
  padding: 10px;
  width: 198px;
}

.dropdown .dropdown-content .dropdown-item img {
  height: 15px;
  margin-right: 13px;
}

.selected-text {
  margin: 0 auto 0 10px;
}

@media screen and (max-width: 800px) {
  .dropdown {
    margin: 0 auto;
    width: 90%;
  }
}
