.card-news-container {
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #979797;
  display: flex;
  height: auto;
  font-family: Roboto;
  margin-bottom: 30px;
  width: 48%;
}
.card-news-container:hover {
  opacity: 0.5;
}

.info-new {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  height: 95px;
  padding: 0px 23px;
  width: 86%;
}

.creatAt {
  align-items: center;
  display: flex;
}

.clock {
  height: 16px;
  margin-right: 5px;
}

.creatAt-text {
  color: #606060;
  font-size: 11px;
  font-weight: 400;
  margin: 0;
}

.news-title {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 1.43;
  margin-top: 10px;
}

.like-container {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  display: flex;
  height: 95px;
  /* FIXME: agregar media querie para en especial aquí para 800 cubra todo el ancho 100% y aumentar el alto*/
  justify-content: center;
  width: 14%;
}

.like,
.unlike {
  cursor: pointer;
  height: 22px;
}
@media screen and (max-width: 800px) {
  .card-news-container {
    margin: 35px auto;
    width: 90%;
    height: 140px;
  }
  .like-container,
  .info-new {
    height: 138px;
  }
  .info-new {
    width: 80%;
  }
  .like-container {
    width: 20%;
  }
}
